[submodule ".\\ComputerGraphicsProject2023\\vendor\\glm"]
	path = .\\ComputerGraphicsProject2023\\vendor\\glm
	url = https://github.com/g-truc/glm
[submodule ".\\ComputerGraphicsProject2023\\vendor\\stb"]
	path = .\\ComputerGraphicsProject2023\\vendor\\stb
	url = https://github.com/nothings/stb
[submodule "ComputerGraphicsProject2023\\vendor\\GLFW"]
	path = ComputerGraphicsProject2023\\vendor\\GLFW
	url = https://github.com/darkhole22/glfw.git
